<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- データソースの設定 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
        <property name="username" value="postgres" />
        <property name="password" value="tatu0930" />
      </dataSource>
    </environment>
  </environments>

  <!-- マッパーの設定 -->
  <mappers>
    <mapper resource="org.apache.struts.helloworld.mapper.UserMapper.xml" />
    <!-- 他のマッパーを追加する場合はここに記述する -->
  </mappers>
</configuration>
